server:
  port: 8083

spring:
  application:
    name: game-service
  datasource:
    url: jdbc:mysql://localhost:3306/indichessdb
    username: root
    password: "1234"
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
